@import "tailwindcss";



@theme {
  --color-primary: #10DB91;     /* Green */
  --color-secondary: #36B6D4;   /* Blue */
  --color-tertiary: #F9BE0B;    /* Yellow */
  --color-neutral: #0F172A;     /* Neutral */
  --color-background: #0B1326;  /* Main Background */
}

body {
  background: var( --color-background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
